@media (max-width: 1370px) {
    .page-issue-report .add-form div.date {
        width: 130px;
    }
    .page-issue-report div.code {
        width: 100px;
    }
    .page-issue-report div.tran_user,
    .page-issue-report div.agent,
    .page-issue-report div.airline {
        width: 118px;
    }
    .page-issue-report div.to-date,
    .page-issue-report div.from-date {
        width: 96px;
    }
    .page-payment-report .add-form .price,
    .page-payment-report .add-form .partner_price {
        width: 100px;
    }
}

@media (max-width: 1200px) {
    .page-payment-report .filter-form,
    .page-issue-report .filter-form {
        padding: 10px;
    }
    .page-issue-report div.from-date,
    .page-issue-report div.to-date {
        width: 100px;
    }
    .page-payment-report .add-form>div,
    .page-payment-report .filter-form>div {
        width: 50%;
        margin: 0px;
        margin-bottom: 8px;
        padding: 0px 4px;
    }
    .select2-container .select2-selection--single {
        height: 28px;
        padding: 0;
        display: flex;
        align-items: center;
        padding-left: 10px;
    }
    .select2-container .select2-selection--single>span {
        margin-top: 0 !important;
    }
    .page-issue-report .add-form>div,
    .page-payment-report .add-form>div.tran_kind {
        /*width:90px;*/
    }
    .page-payment-report,
    .page-manager-partners {
        font-size: 13px;
    }
    td.td-partner-status>div .text-partner-status {
        padding: 3px 10px;
    }
    .table>thead>tr>th,
    .table>tbody>tr>th,
    .table>tfoot>tr>th,
    .table>thead>tr>td,
    .table>tbody>tr>td,
    .table>tfoot>tr>td {
        padding: 4px;
    }
    .form-control {
        height: 39px;
    }
    button {
        /* height: 28px; */
        padding: 6px 12px !important;
    }
    .page-manager-partners select {
        padding: 0px;
    }
    .page-payment-report .container-inline-date {
        width: 110px;
        margin-right: 20px;
    }
    .chosen-container-single .chosen-single span,
    .chosen-container-single .chosen-single {
        /* height: 28px; */
        display: flex;
        align-items: center;
    }
    #cassiopeia-booking-filter-form .form-button .form-item-uncheck label {
        height: 28px;
    }
    .page-payment-report .add-form>div.quantity {
        width: 48px;
    }
    .page-issue-report .filter-form .agent,
    .page-issue-report .filter-form .airline {
        width: 110px;
    }
    .page-issue-report .filter-form .code {
        width: 90px
    }
    .page-issue-report .filter-form .month select {
        padding: 0;
        padding-left: 5px;
    }
    #cassiopeia-room-booking-form .customerInformation>div>div {
        width: 100% !important;
    }
}

@media screen and (max-width: 1199px) {
    .page-manager-room-booking-report .add-form,
    .page-manager-room-booking-report .filter-form {
        flex-wrap: wrap;
        margin-bottom: 15px;
    }
    .page-manager-room-booking-report .add-form>div {
        width: 25% !important;
        padding: 8px;
        margin: 0px;
    }
    .page-manager-room-booking-report .filter-form>div {
        width: 20% !important;
        margin: 0px !important;
        padding: 8px;
    }
    .page-manager-room-booking-report .add-form>div.tran_kind {
        width: 25% !important;
    }
}

@media screen and (max-width: 767px) {
    .page-dashboard .partner-report-block .block-chart canvas,
    .page-dashboard .revenue-report-block .block-chart canvas {
        position: relative;
        width: 100% !important;
        height: auto !important;
        min-height: 350px;
    }
    .page-dashboard .rows .item {
        width: 100% !important;
        padding: 0px;
    }
    .page-dashboard .rows .div[class^='col-'] {
        margin-bottom: 30px;
    }
    .page-dashboard .partner-report-block .block-chart img,
    .page-dashboard .revenue-report-block .block-chart img {
        display: none !important;
    }
    .page-dashboard .item>div {
        padding: 15px;
    }
    .page-dashboard .item>div .block-title h3 {
        font-size: 12px;
    }
    body.page-admin-manager-room .page-manager-room-booking-container,
    body.page-admin-manager-bao-cao-thanh-toan .page-payment-report-container {
        padding: 15px;
    }
    .content {
        padding-left: 8px;
        padding-right: 8px;
    }
    .box-body {
        padding: 0px;
    }
    .page-manager-room-booking .filter-form {
        display: grid;
        grid-template-columns: auto;
        grid-row-gap: 10px;
    }
    .page-manager-room-booking .filter-form>div {
        margin: 0px !important;
    }
    .page-manager-room-booking .filter-form .form-item-tx-area {
        width: 100%;
    }
    #cassiopeia-manager-partners-filter-form>div>.form-group {
        width: calc(50% - 8px);
    }
}

@media (max-width: 670px) {
    #modal_booking_mail .modal-dialog{
        width: 100%;
    }
    #modal_booking_mail .box-1 img{
        width:100px !important;
    }
    #modal_booking_mail .box-1 .pnr-code{
        font-size: 18px !important;
    }
    .page-manager-ticket-review .issue-block>div{
        flex-wrap: wrap;
    }
    .page-manager-ticket-review .issue-block>div>div{
        width:100%;
    }
    .page-issue-report .filter-block,
    .page-payment-report .filter-block {
        margin-top: 20px;
    }
    .page-issue-report .filter-block div.btn-primary,
    .page-payment-report .filter-block div.btn-primary,
    .page-issue-report .add-block div.btn-primary,
    .page-payment-report .add-block div.btn-primary {
        margin-bottom: 15px;
        padding: 10px;
        font-size: 14px;
    }
    .page-issue-report .filter-form .select2-container,
    .page-payment-report .filter-form .select2-container,
    .page-payment-report .add-form .select2-container,
    .page-issue-report .add-form .select2-container {
        width: 100% !important;
    }
    .select2-container .select2-selection--single {
        height: 32px;
    }
    .collapse {
        display: none !important;
    }
    .collapse.in {
        display: flex !important;
    }
    .page-issue-report .add-form,
    .page-payment-report .add-form,
    .page-void-report .filter-form,
    .page-payment-report .filter-form,
    .page-issue-report .filter-form {
        flex-wrap: wrap;
    }
    .desktop-detail-row.EXPIRED,
    .desktop-detail-row.FAIL {
        color: red;
        font-weight: bold;
    }
    .desktop-detail-row.TICKETED {
        color: #ff9000;
        font-weight: bold;
    }
    .desktop-detail-row.OK {
        color: green;
        font-weight: bold;
    }
    .mobile-detail-row.active {
        display: table-row;
    }
    #cassiopeia-agent-report-filter-form>div {
        flex-wrap: wrap;
        justify-content: space-between;
    }
    #cassiopeia-agent-report-filter-form>div .form-item-num-per-page,
    #cassiopeia-agent-report-filter-form>div .form-item-order-by,
    #cassiopeia-agent-report-filter-form>div .form-item-direction {
        display: none;
    }
    #cassiopeia-agent-report-filter-form>div .form-group {
        width: 49% !important;
        margin: 0;
    }
    .page-detail-report .block-menu ul {
        flex-wrap: wrap;
    }
    .page-detail-report .block-menu ul li {
        list-style: none;
        width: 50%;
        box-shadow: 1px 2px 3px #00000029;
    }
    .page-issue-report .add-form>div,
    .page-issue-report .filter-form>div {
        width: 50% !important;
        margin: 0;
        padding: 0px 5px;
    }
    .report-items tbody tr.footable-detail-row {
        display: none !important;
    }
    .report-items tbody tr.footable-detail-row.active {
        display: table-row !important;
    }
    #cassiopeia-room-booking-form .customerInformation>div {
        flex-wrap: wrap;
    }
    #orderInformationContainer {
        margin-top: 20px;
    }
    #cassiopeia-room-booking-form .orderInformationGroup>div>div>div+span {
        display: flex;
        align-items: center;
    }
    .page-manager-room-booking-report .add-form>div {
        width: 50% !important;
    }
    .page-manager-room-booking-report .filter-form>div {
        width: 50% !important;
    }
    .page-manager-room-booking-report .add-form>div.tran_kind {
        width: 50% !important;
    }
    .page-manager-room-booking-report .add-form {
        padding: 0px;
    }
    div[data-target="#add-form"] {
        padding: 6px 12px !important;
        margin-bottom: 20px;
    }
}